body {
  font-size: 13pt;
  color: #494949;
}

.collapsible {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.collapsible-body {
  padding-left: 5%;
  padding-right: 5%;
}

.collapsible-body p {
  padding: 0;
}

.parallax-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.parallax-container {
  height: 375px;
}

.parallax-text {
  line-height: 375px;
  font-size: 220%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*
.row {
  margin-top: 30px;
  margin-bottom: 40px;
}
*/

.row {
  margin-bottom: 20px;
}

.text-right {
  margin-left: 20%;
}

.summary {
  margin-top: 60px;
}

.info {
  height: auto;
}

.subsection-content {
  margin-top: -50px;
}

.parallax-subsection-title {
  line-height: 200px;
  font-size: 220%;
  color: white;
}

.black-font {
  color: black;
}

.white-font {
  color: white;
}

.title {
  font-weight: 500;
  font-size: 125%;
  margin-top: 10px;
  margin-bottom: 0;
}

.rounded {
  border-radius: 5px;
}