@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  font-size: 1rem;
  color: #494949;
}

a {
  color: inherit !important;
}

.collapsible {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.collapsible-body {
  padding-left: 5%;
  padding-right: 5%;
}

.collapsible-body p {
  padding: 0;
}

.parallax-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
}

.parallax-header {
  height: 375px;
}

.parallax-text {
  line-height: 375px;
  font-size: 220%;
}

@media screen and (max-width: 600px) {
  .parallax-header {
    height: 200px;
  }

  .parallax-text {
    line-height: 200px;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .parallax-header {
    height: 300px;
  }

  .parallax-text {
    line-height: 300px;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*
.row {
  margin-top: 30px;
  margin-bottom: 40px;
}
*/

.row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-right {
  margin-left: 20%;
}

.info {
  height: auto;
}

.subsection-title {
  line-height: 5rem;
  margin-top: 1.5rem;
  font-size: 2rem;
} 

.subsection-content {
  margin-top: -50px;
}

.parallax-subsection-title {
  line-height: 5rem;
  font-size: 220%;
  color: white;
}

.title {
  font-weight: 500;
  font-size: 125%;
  margin-top: 10px;
  margin-bottom: 0;
}

.rounded {
  border-radius: 5px;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  h5 {
    font-size: 1.65rem;
  }
}

@media screen and (min-width: 993px) {
  h5 {
    font-size: 2rem;
  }
}

.light {
  font-size: 1.3rem;
}

.semibold {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

.cursive {
  font-weight: 300;
  font-style: italic;
}

.collapsible .row {
  margin-bottom: 0;
}

.chip {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.hoverable {
  cursor: pointer;
}

.container {
  padding-bottom: 2rem;
}

.summary {
  padding-bottom: 0;
}

.time {
  font-weight: 600;
  margin-right: 2rem;
  font-size: 0.85rem;
}

.timetable {
  padding-top: 0;
  margin-bottom: 0;
}

.list-container {
  padding-bottom: 1rem;
}

.repeating-image {
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("../img/brick-texture.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  width: 2048px;
  height: 100%;
}

.semitransparent {
  background-color: rgba(255,255,255,0.85)
}

.parallax-break {
  height: 575px;
}

.break-text {
  line-height: 575px;
  font-size: 1.8rem;
}

@media screen and (max-width: 600px) {
  .parallax-break {
    height: 125px;
  }

  .break-text {
    line-height: 125px;
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
  .parallax-break {
    height: 200px;
  }

  .break-text {
    line-height: 200px;
  }
}

.fancy {
  font-family: Pacifico;
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

@media screen and (max-width: 600px) {
  .fancy {
    font-size: 2rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .fancy {
    font-size: 3rem;
  }
}

.click-here-container {
  position: relative;
  z-index: 9;
}

.click-here {
  font-family: Pacifico;
  font-size: 1.75rem;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 17px;
  right: -5%;

}

.click-here-text {
  position: absolute;
  top: 33px;
  right: -72%;
}

.padded-bottom {
  padding-bottom: 2.5rem;
}

.align-right-on-medium-and-up {
  text-align: right;
}

@media screen and (max-width: 600px) {
  .align-right-on-medium-and-up {
    text-align: left;
  }
}

.medium-image {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.contact-card {
  padding: 5px;
  padding-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.contact-list-header {
  height: 50px;
  line-height: 2.1rem !important;
  font-size: 1.2rem;
}

.contact-list-image {
  width: 100%;
  max-width: 35px;
  height: auto;
  margin-left: -5px;
  margin-top: -4px;
  margin-right: 13px;
}

.avatar p {
  line-height: 1.6rem;
}

@media screen and (max-width: 315px) {
  .contact-list i {
    display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 675px) {
  .contact-list i {
    display: none;
  }
}

.not-ready {
  position: absolute;
  top: 70%;
  left: 10%;
  right: 10%;
}

@media screen and (max-width: 600px) {
  .not-ready {
    background-color: red;
    z-index: 99;
  }
}